body {
  min-width: 280px;
}

.navbar-brand p {
  margin: 3px 0 0 0;
}

.navbar-brand i {
  float: left;
  margin-right: 5px;
}

.hamburger {
  display: none !important;
}

.bg-light {
  background-color: #f0f0f0 !important;
}

.form-control {
  display: inline-block;
  width: auto;
}

.fa-search {
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.fa-search:hover, .fa-share-square-o:hover, #cart:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

#products-number {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 70%;
  text-align: center;
  line-height: .5;
  width: 55px;
  border-radius: 50%;
  position: relative;
  left: 21px;
  top: 8px;
  padding: 0 5px;
}

.send-btn {
  font-size: 170%;
  width: 100%;
  height: 50px;
}

header {
  margin-top: 15px;
}

.side-menu {
  padding: 0;
  background-color: #f0f0f0;
}

.side-menu ul {
  padding: 0;
  margin-bottom: 0;
  height: 100%;
}

.side-menu ul li {
  height: 11.11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 10px;
}

.side-menu ul li:hover {
  background-color: #7a7a7a;
  color: white;
  cursor: pointer;
}

.side-menu ul li i {
  padding-left: 10px;
}

.side-menu ul .submenu {
  height: 33.33%;
}

.side-menu ul .submenu li {
  padding-left: 50px;
  height: 33.33%;
}

.carousel-inner {
  max-height: 400px;
}

h2 {
  font-size: 300%;
  text-align: center;
  margin-top: 15px;
}

a, a:hover {
  text-decoration: none;
  color: initial;
}

.product {
  padding: 10px 10px 30px 10px;
}

.product .product-card {
  text-align: center;
}

.product .product-card img {
  width: 100%;
}

.product .product-card h6 {
  margin-top: 5px;
  margin-bottom: 1px;
}

.product .product-card p {
  color: lightgray;
}

.product .product-card .progress {
  height: 5px;
}

.product .product-card .progress-bar {
  background-color: #7ac229;
}

.product .product-card .w-25 {
  background-color: red;
}

.product .product-card .w-50 {
  background-color: yellow;
}

.product .product-card .w-75 {
  background-color: yellowgreen;
}

.product .product-card h5 {
  margin-top: 10px;
}

.product .product-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

table {
  width: 100%;
  font-size: 150%;
  text-align: center;
  border-bottom: 2px solid lightgray;
  margin-bottom: 30px;
}

table tr {
  border-top: 2px solid lightgray;
}

table img {
  margin-top: 15px;
  height: 100px;
  width: 100px;
}

table .qty {
  margin: 10px 0;
  width: 59px;
  text-align: center;
}

table .added-name {
  font-weight: bold;
}

table .fa-times {
  color: red;
  position: relative;
  top: -70px;
}

table .fa-times:hover {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
  text-align: center;
}

form #notification {
  width: 100%;
  height: 250px;
}

footer {
  margin-top: 15px;
}

.rules {
  margin: 70px auto;
  text-align: center;
}

.lower-footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 8px;
  background-color: #f0f0f0;
}

.lower-footer h6 {
  font-weight: bold;
}

.lower-footer .fa {
  margin: 10px;
}

.lower-footer .fa-mobile {
  margin-left: 13px;
  margin-right: 13px;
}

.lower-footer .kontakt {
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    margin-top: 0;
  }
  .fa-search:hover, .fa-share-square-o:hover, #cart:hover {
    -webkit-transform: none;
            transform: none;
  }
  .navbar .hamburger {
    display: inline !important;
  }
  .navbar .form-inline {
    display: none;
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
  }
  .navbar .form-inline #myInput {
    width: 170px;
  }
  .navbar #cart {
    display: none;
    margin: 0 auto;
    margin-top: 10px;
  }
  .navbar #products-number {
    right: 300px;
  }
  .navbar .fa-shopping-basket {
    margin-right: 19px;
  }
  .navbar .fa-search {
    top: 4px;
  }
  .rules {
    margin: 10px auto;
  }
  .side-menu, #product-menu {
    position: fixed;
    z-index: 99999;
    display: none;
  }
  .side-menu ul li, #product-menu ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side-menu ul li i, #product-menu ul li i {
    padding-left: 0;
    padding-top: 5px;
  }
  .side-menu ul .submenu li, #product-menu ul .submenu li {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .carousel-inner {
    margin-top: 15px;
  }
}

@media screen and (max-width: 575px) {
  .lower-footer .help, .lower-footer .shipping, .lower-footer .kontakt {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=main.css.map */