// import
// @import "./navbar.scss";
// @import "./product.scss";

// navbar

.navbar-brand {
    p {
        margin: 3px 0 0 0;
    }
    i {
        float: left;
        margin-right: 5px;
    }
}

.bg-light {
    background-color: rgb(240, 240, 240) !important;
}

.btn:hover {
    background-color: rgb(122, 122, 122);
    border-color: white;
}

// header
header {
    margin-top: 15px;
}

.side-menu {
    padding: 0;
    height: 400px;
    background-color: rgb(240, 240, 240);
    ul {
        padding: 0;
        li {
            padding: 10.2px;
            list-style-type: none;
            &:hover {
                background-color: rgb(122, 122, 122);
                color: white;
            }
        }
        .submenu li {
            padding-left: 30px;
        }
    }

}

.carousel-inner {
    max-height: 400px;
}

// main

section {
    margin-bottom: 40px;
    h2 {
        font-size: 300%;
        text-align: center;
        margin-top: 15px;
        margin-left: 20px;
    }
}

a, a:hover {
    text-decoration: none;
    color: initial;
}

// navbar

.btn-outline-success {
    color: #7ac229;
    border-color: #7ac229;
}



// product

.product {
    padding: 10px;
    .product-card {
        img {
            width: 100%;
        }
        text-align: center;
        // background-color: white;
        // border: 1px solid lightgray;
        // box-shadow: 2px 2px 10px gray;
        // padding: 10px;
        h6 {
            margin-top: 5px;
            margin-bottom: 1px;
        }
        p {
            color: lightgray;
        }
        .progress {
            height: 5px;
        }
        .progress-bar {
            background-color: #7ac229;
        }
        .w-25 {
            background-color: red;
        }
        .w-50 {
            background-color: yellow;
        }
        .w-75 {
            background-color: yellowgreen;
        }
        h5 {
            margin-top: 10px;
        }
        &:hover {
            transform: scale(1.05);
            // box-shadow: 2px 2px 10px $darkerColor;
        }

        // button {
        //     width: 100%;
        // }
    }
    
}

// footer

.rules {
    margin: 70px auto;
    text-align: center;
}

.lower-footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: rgb(240, 240, 240);
    h6 {
        font-weight: bold;
    }
    .fa {
        margin: 10px;
    }
    .fa-mobile {
        margin-left: 13px;
        margin-right: 13px;
    }
    .kontakt {
        text-align: center;
    }
}

@media screen and (max-width: 755px) {
    .navbar {
        position: relative;
    }
}
