body {
    min-width: 280px;
}

// navbar
.navbar-brand {
    p {
        margin: 3px 0 0 0;
    }
    i {
        float: left;
        margin-right: 5px;
    }
}

.hamburger {
    display: none !important;
}

.bg-light {
    background-color: rgb(240, 240, 240) !important;
}

.form-control {
    display: inline-block;
    width: auto;
}

.fa-search {
    margin-left: 5px;
    position: relative;
    top: -1px;
}

nav i:hover {
    transform: scale(1.5);
}

// header
header {
    margin-top: 15px;
}

.side-menu {
    padding: 0;
    background-color: rgb(240, 240, 240);
    ul {
        padding: 0;
        margin-bottom: 0;
        height: 100%;
        li {
            height: 11.11%;
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            padding-left: 10px;
            &:hover {
                background-color: rgb(122, 122, 122);
                color: white;
                cursor: pointer;
            }
            i {
                padding-left: 10px;
            }
        }
        .submenu {
            height: 33.33%;
            li {
                padding-left: 50px;
                height: 33.33%;
            }
        }
    }

}

.carousel-inner {
    max-height: 400px;
}

// main
h2 {
    font-size: 300%;
    text-align: center;
    margin-top: 15px;
}

a, a:hover {
    text-decoration: none;
    color: initial;
}

// product
.product {
    padding: 10px 10px 30px 10px;
    .product-card {
        img {
            width: 100%;
        }
        text-align: center;
        h6 {
            margin-top: 5px;
            margin-bottom: 1px;
        }
        p {
            color: lightgray;
        }
        .progress {
            height: 5px;
        }
        .progress-bar {
            background-color: #7ac229;
        }
        .w-25 {
            background-color: red;
        }
        .w-50 {
            background-color: yellow;
        }
        .w-75 {
            background-color: yellowgreen;
        }
        h5 {
            margin-top: 10px;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
}

// cartTable
table {
    width: 100%;
    font-size: 120%;
    text-align: center;
    border-bottom: 2px solid lightgray;
    th, td {
        border-bottom: 2px solid lightgray;
    }
    img {
        height: 100px;
        width: 100px;
    }
}

// footer
.rules {
    margin: 70px auto;
    text-align: center;
}

.lower-footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: rgb(240, 240, 240);
    h6 {
        font-weight: bold;
    }
    .fa {
        margin: 10px;
    }
    .fa-mobile {
        margin-left: 13px;
        margin-right: 13px;
    }
    .kontakt {
        text-align: center;
    }
}

// media
@media screen and (max-width: 768px) {
    header {
        margin-top: 0;
    }
    nav i:hover {
        transform: none;
    }
    .navbar {
        .hamburger {
            display: inline !important;
        }
        .form-inline {
            #myInput {
                width: 170px;
            }
            display: none;
            width: 100vw;
            text-align: center;
            margin-bottom: 10px;
        }
        
        .fa-shopping-basket {
            margin-top: 10px;
            display: none;
            width: 100vw;
            text-align: center;
        }
        .fa-search {
            top: 4px;
        }
    }
    .rules {
        margin: 10px auto;
    }
    .side-menu, #product-menu {
        position: fixed;
        z-index: 99999;
        display: none;
        ul {
            li {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 0;
                flex-direction: column;
                i {
                    padding-left: 0;
                    padding-top: 5px;
                }
            }
            .submenu li {
                padding-left: 0;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
    .carousel-inner {
        margin-top: 15px;
    }
}

@media screen and (max-width: 575px) {
    .lower-footer {
        .help, .shipping, .kontakt {
            margin-bottom: 50px;
        }
    }
}