// import
// @import "./navbar.scss";
// @import "./product.scss";

// navbar

.navbar-brand {
    p {
        margin: 3px 0 0 0;
    }
    i {
        float: left;
        margin-right: 5px;
    }
}

.bg-light {
    background-color: rgb(240, 240, 240) !important;
}

.form-control {
    display: inline-block;
    width: auto;
}

.btn:hover {
    background-color: rgb(122, 122, 122);
    border-color: white;
}

// header
header {
    margin-top: 15px;
}

.side-menu {
    padding: 0;
    background-color: rgb(240, 240, 240);
    ul {
        padding: 0;
        margin-bottom: 0;
        height: 100%;
        li {
            height: 11.11%;
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            padding-left: 10px;
            &:hover {
                background-color: rgb(122, 122, 122);
                color: white;
                cursor: pointer;
            }
            i {
                padding-left: 10px;
            }
        }
        .submenu {
            height: 33.33%;
            li {
                padding-left: 50px;
                height: 33.33%;
            }
        }
    }

}

.carousel-inner {
    max-height: 400px;
}

// main

section {
    margin-bottom: 40px;
    h2 {
        font-size: 300%;
        text-align: center;
        margin-top: 15px;
    }
}

a, a:hover {
    text-decoration: none;
    color: initial;
}

// navbar

.btn-outline-success {
    color: #7ac229;
    border-color: #7ac229;
}



// product

.product {
    padding: 10px 10px 30px 10px;
    .product-card {
        img {
            width: 100%;
        }
        text-align: center;
        h6 {
            margin-top: 5px;
            margin-bottom: 1px;
        }
        p {
            color: lightgray;
        }
        .progress {
            height: 5px;
        }
        .progress-bar {
            background-color: #7ac229;
        }
        .w-25 {
            background-color: red;
        }
        .w-50 {
            background-color: yellow;
        }
        .w-75 {
            background-color: yellowgreen;
        }
        h5 {
            margin-top: 10px;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    
}

// footer

.rules {
    margin: 70px auto;
    text-align: center;
}

.lower-footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: rgb(240, 240, 240);
    h6 {
        font-weight: bold;
    }
    .fa {
        margin: 10px;
    }
    .fa-mobile {
        margin-left: 13px;
        margin-right: 13px;
    }
    .kontakt {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        position: relative;
    }
    .rules {
        margin: 10px auto;
    }
    .side-menu {
        ul {
            li {
                padding-left: 0;
                flex-direction: column;
                i {
                    position: relative;
                    left: 40px;
                    top: -19px;
                }
            }
            .submenu li {
                padding-left: 0;
            }
        }
    }

    .carousel-inner {
        margin-top: 10px;
    }
}

@media screen and (max-width: 630px) {
    .navbar {
        display: block;
        text-align: center;
        .form-inline {
            display: block;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 575px) {
    .lower-footer {
        .help, .shipping, .kontakt {
            margin-bottom: 50px;
        }
    }
}