.navbar-brand p {
  margin: 3px 0 0 0;
}

.navbar-brand i {
  float: left;
  margin-right: 5px;
}

.bg-light {
  background-color: #f0f0f0 !important;
}

.form-control {
  display: inline-block;
  width: auto;
}

.fa-search {
  margin-left: 5px;
}

nav i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header {
  margin-top: 15px;
}

.side-menu {
  padding: 0;
  background-color: #f0f0f0;
}

.side-menu ul {
  padding: 0;
  margin-bottom: 0;
  height: 100%;
}

.side-menu ul li {
  height: 11.11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 10px;
}

.side-menu ul li:hover {
  background-color: #7a7a7a;
  color: white;
  cursor: pointer;
}

.side-menu ul li i {
  padding-left: 10px;
}

.side-menu ul .submenu {
  height: 33.33%;
}

.side-menu ul .submenu li {
  padding-left: 50px;
  height: 33.33%;
}

.carousel-inner {
  max-height: 400px;
}

h2 {
  font-size: 300%;
  text-align: center;
  margin-top: 15px;
}

a, a:hover {
  text-decoration: none;
  color: initial;
}

.btn-outline-success {
  color: #7ac229;
  border-color: #7ac229;
}

.product {
  padding: 10px 10px 30px 10px;
}

.product .product-card {
  text-align: center;
}

.product .product-card img {
  width: 100%;
}

.product .product-card h6 {
  margin-top: 5px;
  margin-bottom: 1px;
}

.product .product-card p {
  color: lightgray;
}

.product .product-card .progress {
  height: 5px;
}

.product .product-card .progress-bar {
  background-color: #7ac229;
}

.product .product-card .w-25 {
  background-color: red;
}

.product .product-card .w-50 {
  background-color: yellow;
}

.product .product-card .w-75 {
  background-color: yellowgreen;
}

.product .product-card h5 {
  margin-top: 10px;
}

.product .product-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.rules {
  margin: 70px auto;
  text-align: center;
}

.lower-footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 8px;
  background-color: #f0f0f0;
}

.lower-footer h6 {
  font-weight: bold;
}

.lower-footer .fa {
  margin: 10px;
}

.lower-footer .fa-mobile {
  margin-left: 13px;
  margin-right: 13px;
}

.lower-footer .kontakt {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
  }
  .rules {
    margin: 10px auto;
  }
  .side-menu ul li {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side-menu ul li i {
    position: relative;
    left: 40px;
    top: -19px;
  }
  .side-menu ul .submenu li {
    padding-left: 0;
  }
  .carousel-inner {
    margin-top: 10px;
  }
}

@media screen and (max-width: 630px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar .form-inline {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 575px) {
  .lower-footer .help, .lower-footer .shipping, .lower-footer .kontakt {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=main.css.map */