body {
    min-width: 280px;
}

// navbar
.navbar-brand {
    p {
        margin: 3px 0 0 0;
    }
    i {
        float: left;
        margin-right: 5px;
    }
}

.hamburger {
    display: none !important;
}

.bg-light {
    background-color: rgb(240, 240, 240) !important;
}

.form-control {
    display: inline-block;
    width: auto;
}

.fa-search {
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.fa-search:hover, .fa-share-square-o:hover, #cart:hover {
    transform: scale(1.5);
    cursor: pointer;
}

#products-number {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 70%;
    text-align: center;
    line-height: .5;
    width: 55px;
    border-radius: 50%;
    position: relative;
    left: 21px;
    top: 8px;
    padding: 0 5px;
}

.send-btn {
    font-size: 170%;
    width: 100%;
    height: 50px;
}

// header
header {
    margin-top: 15px;
}

.side-menu {
    padding: 0;
    background-color: rgb(240, 240, 240);
    ul {
        padding: 0;
        margin-bottom: 0;
        height: 100%;
        li {
            height: 11.11%;
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            padding-left: 10px;
            &:hover {
                background-color: rgb(122, 122, 122);
                color: white;
                cursor: pointer;
            }
            i {
                padding-left: 10px;
            }
        }
        .submenu {
            height: 33.33%;
            li {
                padding-left: 50px;
                height: 33.33%;
            }
        }
    }

}

.carousel-inner {
    max-height: 400px;
}

// main
h2 {
    font-size: 300%;
    text-align: center;
    margin-top: 15px;
}

a, a:hover {
    text-decoration: none;
    color: initial;
}

// product
.product {
    padding: 10px 10px 30px 10px;
    .product-card {
        img {
            width: 100%;
        }
        text-align: center;
        h6 {
            margin-top: 5px;
            margin-bottom: 1px;
        }
        p {
            color: lightgray;
        }
        .progress {
            height: 5px;
        }
        .progress-bar {
            background-color: #7ac229;
        }
        .w-25 {
            background-color: red;
        }
        .w-50 {
            background-color: yellow;
        }
        .w-75 {
            background-color: yellowgreen;
        }
        h5 {
            margin-top: 10px;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
}

// cartTable
table {
    width: 100%;
    font-size: 150%;
    text-align: center;
    border-bottom: 2px solid lightgray;
    margin-top: 15px;
    margin-bottom: 30px;
    tr {
        border-top: 2px solid lightgray;
    }
    img {
        margin: 5px 0;
        height: 100px;
        width: 100px;
    }
    .qty {
        margin: 10px 0;
        width: 35px;
        text-align: center;
    }
    .added-name {
        font-weight: bold;
    }
    .fa-times {
        color: red;
        position: relative;
        top: -43px;
        &:hover {
            cursor: pointer;
        }
    }
}
// hide arrows in input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

// form
form {
    text-align: center;
    #notification {
        width: 100%;
        height: 250px;
    }
}

// footer
footer {
    margin-top: 15px;
}

.rules {
    margin: 70px auto;
    text-align: center;
}

.lower-footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: rgb(240, 240, 240);
    h6 {
        font-weight: bold;
    }
    .fa {
        margin: 10px;
    }
    .fa-mobile {
        margin-left: 13px;
        margin-right: 13px;
    }
    .kontakt {
        text-align: center;
    }
}

// modals
.modal-content {
    top: 30vh;
}
.modal-p {
    margin-bottom: 0;
}

// media
@media screen and (max-width: 768px) {
    header {
        margin-top: 0;
    }
    .fa-search:hover, .fa-share-square-o:hover, #cart:hover {
        transform: none;
    }
    .navbar {
        .hamburger {
            display: inline !important;
        }
        .form-inline {
            #myInput {
                width: 170px;
            }
            display: none;
            width: 100vw;
            text-align: center;
            margin-bottom: 10px;
        }
        #cart {
            display: none;
            margin: 0 auto;
            margin-top: 10px;
        }
        #products-number {
            right: 300px;
        }
        .fa-shopping-basket {
            margin-right: 19px;
        }
        .fa-search {
            top: 4px;
        }
    }
    table {
        font-size: 4vw;
    }

    .rules {
        margin: 10px auto;
    }
    .side-menu, #product-menu {
        position: fixed;
        z-index: 99999;
        display: none;
        ul {
            li {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 0;
                flex-direction: column;
                i {
                    padding-left: 0;
                    padding-top: 5px;
                }
            }
            .submenu li {
                padding-left: 0;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
    .carousel-inner {
        margin-top: 15px;
    }
}

@media screen and (max-width: 575px) {
    .lower-footer {
        .help, .shipping, .kontakt {
            margin-bottom: 50px;
        }
    }
}